<% provide(:title, "Help") %>
<h1>Help</h1>
<p>This is the home page for the
	<a hfef="https://railstutorial.jp//help">Ruby on Rails Tutorial</a>
	To get help on this sample app, see the
	<a href="https://rails tutorial.jp/#ebook">
	<em> Ruby on Rails Tutorial</em> book</a>
</p>
